<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form [formGroup]="productForm" (ngSubmit)="createProduct()">
        <mat-form-field>
            <mat-label for="name">Name</mat-label>
            <input matInput id="name" type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="reference">Reference</mat-label>
            <input matInput placeholder="Ex: AAAA1111" id="reference" type="text" formControlName="reference">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="price">Price</mat-label>
            <input matInput placeholder="Ex: 199.00" id="price" type="text" formControlName="price">
        </mat-form-field>
        <div>
            <button mat-raised-button class="save" type="submit" [disabled]="!productForm.valid">
                Salvar
            </button>
            
            <button mat-raised-button (click)="cancel()">
                Cancelar
            </button>
        </div>
    </form>
</mat-card>
