<div class="container-home">
    <mat-card>
        <h1 class="titulo">
            Bem Vindo(a) ao CadProd
        </h1>
        <hr>
        <h2 class="topico">Funcionalidades:</h2>
        <div>
            <h3><mat-icon>done_outline</mat-icon><span class="lista">Cadastrar um produto.</span></h3>
            <h3><mat-icon>done_outline</mat-icon><span class="lista">Listar os produtos cadastrados.</span></h3>
            <h3><mat-icon>done_outline</mat-icon><span class="lista">Atualizar um produto cadastro.</span></h3>
            <h3><mat-icon>done_outline</mat-icon><span class="lista">Excluir um produto cadastrado.</span></h3>
        </div>
    </mat-card>
</div>
