.footer {
    position: fixed;
    bottom: 0;
    background-color: #1A6AFF;
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
}

.footer > span {
    font-weight: 200;
    font-size: 16px;
}